{% extends 'base.html.twig' %}

{% block body %}
    <div id="home-app" data-popular-movies="{{ movies|json_encode }}" data-now-playing-movies="{{ nowPlayingMovies|json_encode }}"></div>
      {{ encore_entry_script_tags('app') }}
{% endblock %}

